<div class="contact-main " style="margin-left: 100px;min-height: 500px; border-radius: 10px;">

    <br />
    <h1>Corporate Head Office-Jabalpur</h1>

<div class="contact  main-body">
    <div class="contact-wrapper d-flex bg-light">
                <div class="w-30 fl">
                    <div class="heading">
                        Jabalpur
                    </div>
                    <ul style="background-color: rgb(236, 231, 153);">

                            <li>EASYBUS Group Pvt. Ltd</li>
                            <li>Damohnaka Bus Stand,</li>
                            <li>5th Floor, #No 23, MR Road,</li>
                            <li>HAL 2nd Stage, Gopal Sadan,</li>
                            <li>Gopal Vihar, Ward No: 74,</li>
                            <li>Jabalpur, M.P. - 482002.</li>
                    </ul>

                </div>
                <div class="w-30 fl" style="background-color: rgb(253, 230, 176);">
                    <div class="contact-header">
                        Madhya Pradesh
                    </div>
                    <ul style="background-color: rgb(247, 239, 184);">

                            <li>EASYBUS Group Pvt Ltd.</li>
                            <li>3rd Floor, Tower B1,</li>
                            <li>Nayan Tower, Madan Mahal Road,</li>
                            <li>Sadar, Jabalpur,</li>
                            <li>M.P. - 482002.</li>
                    </ul>

                </div>
                <div class="w-30 fl" style="background-color: rgb(249, 247, 209);">
                    <div class="contact-header">
                        
                    </div>
                    <ul>

                            <li><br/></li>
                            <li>Ph: +919945600000</li>
                            
                            <li>Call Centre Time : 24*7</li>
                            <li><br/></li>
                            <li>For Press enquiries, please send email to <b>press@easybus.com</b></li>
                            <li><br/></li>
                    </ul>

                </div>
    </div>